$red: #FF3765;
$white: #F2F2F2;
$black: #333;
$l_blue: #03738C;
$d_blue: #025373;

// ===============
//  common
// ===============
body {

    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Poppins', 'Noto Sans JP', sans-serif;
    color: $white;
    background-color: $black;

    p,
    span {
        font-size: 16px;
    }
}

main {
    width: 100%;
    position: relative;
}

ul,
li {
    list-style: none;
    padding: 0;
}

.error_message {
    color: $red;
    font-size: 14px;
}

// ===============
//  layout
// ===============

.wrapper_logout {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.title_logout {
    text-align: center;
    margin-bottom: 40px;

    h2 {
        font-size: 20px;
        font-weight: 400;
    }
}

.container {
    width: min(100%, 540px);
}

// ===============
//  footer
// ===============

.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: $black;
    color: $white;
    padding-top: max(calc(100vh - 50px), 690px);
    padding-bottom: 30px;
}

// ===============
//  main contents
// ===============
.login_form,
.register_form {
    margin-bottom: 20px;
}

.login_form_item,
.register_form_item {
    display: block;
}

input.login_form_item,
input.register_form_item {
    width: 100%;
    height: 36px;
    padding: 0 5px;
    border: solid 1px $l_blue;
    border-radius: 2px;

    &:focus {
        outline: solid 2px $l_blue;
        border-radius: 2px;
    }
}

form#login {
    margin-bottom: 40px;
}

a {
    color: $red;
    transition: all .2s;

    &:hover {
        color: $white;
    }
}

.added_content {
    margin: 0 auto;
    text-align: center;

    .added_item {
        margin-bottom: 20px;
    }
}

// ===============
//  btn
// ===============
.btn-primary {
    background-color: $l_blue;
    border: $l_blue;

    &:hover {
        background-color: $d_blue;
        border: $d_blue;
    }
}

// ===============
//  logo
// ===============

.logo_container {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 120px;
    width: 120px;
}

.logo_login {
    height: 120px;
    width: auto;
    animation: spin 10s linear infinite;
}

h1 {
    font-size: 48px;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

@media (max-width: 768px) {
    body {

        p,
        span {
            font-size: 14px;
        }
    }

    h1 {
        font-size: 36px;
    }

    .row {
        width: 100%;
        margin: 0 auto;
    }
}
